# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Large datasets
*.parquet
*.csv

# Machine Learning artifacts
*.pkl
*.joblib
*.h5
*.pt
*.pth

# Local environment files
.env

# IDE
.vscode/

# Logs
*.log